apiVersion: v1
kind: ConfigMap
metadata:
  name: spinnaker-demo-config
  namespace: spinnaker
data:
  NEW_FEATURE: "true"

---

apiVersion: apps/v1beta2
kind: Deployment
metadata:
  name: spinnaker-demo
  namespace: spinnaker
  labels:
    source: demo
    stack: frontend
    app: spinnaker
spec:
  replicas: 2
  selector:
    matchLabels:
      source: demo
      app: spinnaker
  template:
    metadata:
      labels:
        source: demo
        app: spinnaker
    spec:
      containers:
      - name: primary
        image: index.docker.io/mklettner/spin-kub-v2-demo
        ports:
        - containerPort: 8000
        readinessProbe:
          httpGet:
            path: /
            port: 8000
        envFrom:
        - configMapRef:
            name: spinnaker-demo-config

---

kind: Service
apiVersion: v1
metadata:
  name: spinnaker-demo
  namespace: spinnaker
spec:
  selector:
    source: demo
    app: spinnaker
  ports:
  - protocol: TCP
    port: 80
    targetPort: 8000

---

apiVersion: networking.istio.io/v1alpha3
kind: VirtualService
metadata:
  name: spin-demo
  namespace: spinnaker
spec:
  hosts:
  - "spin-demo.ebcont.com"
  gateways:
  - helloworld-gateway
  http:
  - match:
    route:
    - destination:
        host: spinnaker-demo
        port:
          number: 80